language: node_js
dist: trusty
addons:
  apt:
    packages:
      - libnss3
node_js:
  - '14'
cache:
  directories:
  - node_modules
install:
  - npm install
script:
  - npm test
  - npm run build
  - npm run docs:lint
  - npm run test:prerelease
